.toc-wrapper {
  position: relative;
  padding-top: 80px;

  .repo {
    padding-left: 20px;
  }
}

.table-of-contents {
  li + li {
    margin-top: 5px;
  }

  a {
    height: auto;

    &.active {
      border-left-color: $color-main;
    }
  }
}
