nav {
  &.top-nav {
    overflow: hidden;
    height: auto;
    background-color: $color-header-background;
    box-shadow: none;

    @include breakpoint($break-mobile) {
      height: $site-header-height;
    }

    .nav-wrapper {
      line-height: $line-height-default;

      @include breakpoint($break-mobile) {
        line-height: $site-header-line-height;
      }
    }

    a.page-title {
      font-size: 28px;
      line-height: $line-height-default;

      @include breakpoint($break-mobile) {
        font-size: 48px;
        line-height: $site-header-height;
      }
    }

    .container {
      padding-top: $touch-min-size;
      padding-bottom: $spacing-default;

      @include breakpoint($break-mobile) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    // mobile-menu-toggle
    .button-collapse {
      width: $touch-min-size;
      height: $touch-min-size;
      text-align: center;
      line-height: $touch-min-size;

      i {
        height: inherit;
        font-size: 2em;
        line-height: inherit;
      }
    }
  }
}
