nav {
  &.top-nav {
    height: $site-header-height;
    background-color: $color-header-background;
    box-shadow: none;

    a.page-title {
      font-size: 48px;
      line-height: $site-header-height;
    }
  }
}
