.content-navigation {
  margin: 80px 0 40px;
}

ul.side-nav.fixed {
  a {
    height: auto;
    line-height: inherit;
  }

  .collapsible-header,
  .collapsible a {
    padding-top: $site-nav-vertical-padding;
    padding-bottom: $site-nav-vertical-padding;
    height: auto;
    line-height: initial;
  }

  .collapsible-header {
    color: #000;
    font-weight: bold;
  }

  li {
    line-height: initial;

    &.no-padding:hover {
      background-color: transparent;
    }

    &.home > a {
      margin: 0 1rem;
    }

    &.logo {
      margin-bottom: 16px;
      padding-top: 10px;
      height: $site-header-height;
      border-bottom: 1px solid #ddd;
      text-align: center;

      &:hover {
        background-color: inherit;
      }

      a {
        position: relative;

        img {
          display: block;
          margin: 0 auto;
          border: none;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  background-color: $color-main;
}
