/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_body\.scss}line{font-family:\000031}}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_code\.scss}line{font-family:\000031}}
code.hljs {
  padding: 7px 12px;
  border: 1px solid rgba(51, 51, 51, 0.12);
  background: #f5f2f0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_container\.scss}line{font-family:\000031}}
.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1280px;
  width: 90%; }
  @media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_container\.scss}line{font-family:\000031}}
    .container {
      width: 85%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img,
media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_media\.scss}line{font-family:\000036}}
a img {
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  border: 1px solid #b2b2b2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_media\.scss}line{font-family:\0000310}}
  a img:hover {
    border-color: #00895d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-footer\.scss}line{font-family:\000031}}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #ee6e73; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-header\.scss}line{font-family:\000032}}
nav.top-nav {
  height: 122px;
  box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-header\.scss}line{font-family:\000036}}
  nav.top-nav a.page-title {
    font-size: 48px;
    line-height: 122px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\000031}}
.content-navigation {
  margin-top: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\000036}}
ul.side-nav.fixed .collapsible-header,
ul.side-nav.fixed .collapsible a {
  padding-top: 12px;
  padding-bottom: 12px;
  height: auto;
  line-height: initial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\0000314}}
ul.side-nav.fixed .collapsible-header {
  color: #000;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\0000322}}
ul.side-nav.fixed li {
  line-height: initial; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\0000325}}
  ul.side-nav.fixed li.no-padding:hover {
    background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\0000329}}
  ul.side-nav.fixed li.logo {
    margin-bottom: 16px;
    padding-top: 10px;
    height: 122px;
    border-bottom: 1px solid #ddd;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\0000336}}
    ul.side-nav.fixed li.logo:hover {
      background-color: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\0000340}}
    ul.side-nav.fixed li.logo a {
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site-navigation\.scss}line{font-family:\0000343}}
      ul.side-nav.fixed li.logo a img {
        display: block;
        margin: 0 auto;
        border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site\.scss}line{font-family:\000031}}
header,
main,
footer {
  padding-left: 240px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/base\/_site\.scss}line{font-family:\000037}}
main {
  flex-grow: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_brand-logo\.scss}line{font-family:\000031}}
.brand-logo img {
  vertical-align: middle; }

/*
This is the GitHub theme for highlight.js

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\000038}}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  -webkit-text-size-adjust: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000316}}
.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #998;
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000323}}
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000334}}
.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000340}}
.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #d14; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000348}}
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000355}}
.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000360}}
.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000368}}
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000376}}
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000383}}
.hljs-regexp {
  color: #009926; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000387}}
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\0000397}}
.hljs-built_in {
  color: #0086b3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\00003101}}
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\00003111}}
.hljs-deletion {
  background: #fdd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\00003115}}
.hljs-addition {
  background: #dfd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\00003119}}
.diff .hljs-change {
  background: #0086b3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_highlight\.scss}line{font-family:\00003123}}
.hljs-chunk {
  color: #aaa; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_toc\.scss}line{font-family:\000031}}
.toc-wrapper {
  position: relative;
  padding-top: 42px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_toc\.scss}line{font-family:\000035}}
  .toc-wrapper .repo {
    padding-left: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_toc\.scss}line{font-family:\0000311}}
.table-of-contents li + li {
  margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/dpe\/Webseiten\/erpal\/docs\/erpaltheme\/sass\/components\/_toc\.scss}line{font-family:\0000315}}
.table-of-contents a {
  height: auto; }

/*# sourceMappingURL=theme.css.map */
