$color-dove-gray: #737373;
$color-cloud: #d0cecd;
$color-gallery: #eee;
$color-mercury: #e5e5e5;
$color-silver-chalice: #b2b2b2;
$color-alto: #d9d9d9;
$color-dorado: #645c58;
$color-wild-sand: #f6f6f6;
$color-deep-sea: #00895d;
$color-monza: #ca0513;
$color-red-devil: #8d050a;
$color-orient: #006487;
$color-bondi-blue: #009fb7;
$color-yellow-orange: #ffa63d;
$color-outer-space: #2c3438;
$color-gray: #8e8e8e;

$color-main: $color-deep-sea;
$color-border: $color-silver-chalice;
$color-border-hover: $color-deep-sea;
