$color-dove-gray: #737373;
$color-cloud: #d0cecd;
$color-gallery: #eee;
$color-mercury: #e5e5e5;
$color-silver-chalice: #b2b2b2;
$color-alto: #d9d9d9;
$color-dorado: #645c58;
$color-wild-sand: #f6f6f6;
$color-deep-sea: #00895d;
$color-monza: #ca0513;
$color-red-devil: #8d050a;
$color-orient: #006487;
$color-bondi-blue: #009fb7;
$color-yellow-orange: #ffa63d;
$color-outer-space: #2c3438;
$color-gray: #8e8e8e;
$color-maroon-flush: #cc2255;

$color-main: $color-deep-sea;
$color-border: $color-silver-chalice;
$color-border-hover: $color-deep-sea;
$color-inline-code: $color-maroon-flush;

$color-code-background: #f7f7f9;
$color-code-border: #e1e1e8;

$color-link: $color-bondi-blue;
// $color-link: $color-deep-sea;
$color-link-hover: darken($color-link, 10);
$color-button-background: $color-yellow-orange;
$color-button-background-hover: darken($color-button-background, 10);
$color-button-copy: #fff;

$color-table-row-alt: $color-gallery;
$color-table-row-hover: $color-mercury;

$color-header-background: $color-main;
// $color-header-background: $color-dove-gray;
$color-footer-background: $color-header-background;
