{% if next_page or previous_page %}
<div class="content-navigation" role="navigation" aria-label="navigation">
  {% if previous_page %}
    <a href="{{ previous_page.url }}" class="waves-effect waves-light btn btn-neutral"
       title="{{ previous_page.title }}">
      <i class="mdi-navigation-chevron-left left"></i>
      Previous
    </a>
  {% endif %}
  {% if next_page %}
    <a href="{{ next_page.url }}" class="waves-effect waves-light btn btn-neutral float-right" title="{{ next_page.title }}"/>
      <i class="mdi-navigation-chevron-right right"></i>
      Next
    </a>
  {% endif %}
</div>
{% endif %}
